// Graph

@import "../../styles/index";

#graph-container {
  flex: 1 1 99%;
  position: relative;
  margin: 5vh 0 0;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 5vw;
  height: 100%;
}

rect {
  fill: var(--color-primary, #{$orange});
  stroke: transparent;
}

g rect {
  fill: var(--color-primary-medium, #{rgba($orange, 0.55)});

  &.current,
  &:hover {
    fill: var(--color-primary, #{$orange});
    opacity: 1;
  }
}

path {
  stroke: var(--color-primary, #{$orange});
}
