// Home

@import "../../styles/index";

.index {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: auto 0 3em;
  padding: 0 3rem;
  max-width: 21em;
  text-align: center;

  h1 {
    @include underline(var(--color-dark-grey, #{$dark-grey}));

    + p {
      margin-top: 0;
      font-size: 0.89em;
    }
  }

  .commits {
    display: inline-block;
    padding: 0.5em 0.75em;
    color: white;
    background-color: var(--color-primary, #{$orange});
    border-radius: 1.5em;

    &:hover {
      @include no-underlines();
    }
  }

  .name {
    margin-top: 0;

    &::before {
      content: '~';
      display: inline-block;
      width: 100%;
      line-height: 1;
    }
  }

  .begin {
    position: relative;
    display: block;
    width: 3.777em;
    height: 3.777em;
    color: transparent;
    background-color: var(--color-primary, #{$orange});
    border-radius: 50%;
    opacity: 0.75;
    transform: scale(1);
    transition: opacity 144ms ease, transform 144ms ease;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}
