// Day

@import "../../styles/index";

div.day {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95vh;
  overflow: hidden;

  h1 {
    position: absolute;
    top: 0;
    left: 5vw;
    margin: 0;

    [data-term] {
      font-size: 3rem;
      line-height: 1;
      font-weight: 400;
    }
  }
}
