// Day

@import "../../styles/index";

div.day {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: inherit;
  overflow: hidden;

  header {
    position: absolute;
    top: 0;
    left: 5vw;
  }

  h1 {
    margin: 0;

    [data-term] {
      font-size: 3rem;
      line-height: 1;
      font-weight: 400;
    }
  }

  main {
    align-items: flex-start;
    height: inherit;
  }

  nav {
    position: absolute;
    top: 0;
    right: 5vw;
  }

  footer {
    display: none;
  }
}
