// App

@import "./styles/index";
@import '~normalize-scss/fork-versions/default/normalize';

:root {
  --color-yellow: #{$yellow};
  --color-yellow-strong: #{rgba($yellow, 0.89)};
  --color-yellow-medium: #{rgba($yellow, 0.55)};
  --color-yellow-pale: #{rgba($yellow, 0.34)};
  --color-orange: #{$orange};
  --color-orange-strong: #{rgba($orange, 0.89)};
  --color-orange-medium: #{rgba($orange, 0.55)};
  --color-orange-pale: #{rgba($orange, 0.34)};
  --color-teal: #{$teal};
  --color-teal-strong: #{rgba($teal, 0.89)};
  --color-teal-medium: #{rgba($teal, 0.55)};
  --color-teal-pale: #{rgba($teal, 0.34)};
  --color-blue: #{$blue};
  --color-blue-strong: #{rgba($blue, 0.89)};
  --color-blue-medium: #{rgba($blue, 0.55)};
  --color-blue-pale: #{rgba($blue, 0.34)};
  --color-dark-grey: #{$dark-grey};
  --color-grey: #{lighten($dark-grey, 15%)};
  --color-light-grey: #{lighten($dark-grey, 30%)};
  --color-primary: var(--color-orange, #{$orange});
  --color-primary-strong: var(--color-orange-strong, #{rgba($orange, 0.89)});
  --color-primary-medium: var(--color-orange-medium, #{rgba($orange, 0.55)});
  --color-primary-pale: var(--color-orange-pale, #{rgba($orange, 0.34)});
  --color-primary-gradient-strong: var(--color-orange-strong, #{rgba($orange, 0.89)});
  --color-primary-gradient-pale: var(--color-orange-pale, #{rgba($orange, 0.34)});
  --color-secondary-gradient-strong: var(--color-yellow-strong, #{rgba($yellow, 0.89)});
  --color-secondary-gradient-pale: var(--color-yellow-pale, #{rgba($yellow, 0.34)});
  --color-secondary: var(--color-yellow, #{$yellow});
  --color-secondary-strong: var(--color-yellow-strong, #{rgba($yellow, 0.89)});
  --color-secondary-medium: var(--color-yellow-medium, #{rgba($yellow, 0.55)});
  --color-secondary-pale: var(--color-yellow-pale, #{rgba($yellow, 0.34)});
  --angle-primary-gradient: 135deg;
  --angle-secondary-gradient: 90deg;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 3.777vmin;

  @media screen and (min-width: 768px) {
    font-size: 2vmin;
  }
}

body {
  @include sans-serif();

  color: var(--color-dark-grey, #{$dark-grey});
}

#root {
  height: 100vh;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      var(--angle-primary-gradient, 135deg),
      var(--color-primary-gradient-pale, #{rgba($orange, 0.34)}) 0%,
      var(--color-primary-gradient-strong, #{rgba($orange, 0.99)}) 100%
    );
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      var(--angle-secondary-gradient, 90deg),
      var(--color-secondary-gradient-pale, #{rgba($yellow, 0.34)}) 0%,
      var(--color-secondary-gradient-strong, #{rgba($yellow, 0.89)}) 100%
    );
    z-index: -1;
  }

  > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
  }
}

h1 {
  @include serif(700);

  color: var(--color-dark-grey, #{$dark-grey});
  display: inline-block;
  margin-bottom: 0;
  letter-spacing: -0.03em;
}

p {
  margin-bottom: 0;
}

a {
  color: var(--color-dark-grey);
  font-weight: 500;
  text-decoration: none;

  &:hover {
    @include underline(var(--color-primary, #{$blue}));
  }
}

nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-height: 95vh;
}

footer {
  @include serif(700);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-height: 5vh;

  p {
    margin: 0.5em 0;
    font-size: 1.2em;
  }

  a {
    font-weight: 600;

    &:hover {
      @include underline(var(--color-dark-grey), 0.145em);
    }
  }
}
